<!DOCTYPE html>
<html>
<head>
    <title>Formulario UTM</title>
</head>
<body>
    <h1>Formulario UTM</h1>
    <form method="POST" action="/utm-generada">
        <label for="utm_link">Link:</label>
        <input type="text" id="utm_link" name="utm_link"><br><br>

        <label for="utm_campaign">Campaña:</label>
        <input type="text" id="utm_campaign" name="utm_campaign"><br><br>
        
        <label for="utm_source">Fuente:</label>
        <input type="text" id="utm_source" name="utm_source"><br><br>

        <label for="utm_medium">Medio:</label>
        <input type="text" id="utm_medium" name="utm_medium"><br><br>
        
        <label for="utm_term">Termino:</label>
        <input type="text" id="utm_term" name="utm_term"><br><br>
        
        <label for="utm_content">Contenido:</label>
        <input type="text" id="utm_content" name="utm_content"><br><br>
        
        <input type="submit" value="Generar URL">
    </form>
</body>

</html>
